<h1><%= @user.username%></h1>

<h2>Your parties:</h2>
<% @user.categories.each do |c| %>

    <h3><%= c.name %></h3>

    <% c.parties.order_by_date.each do |p|%>
        <%= render partial: '/parties/party', locals: {party: p} %>
    <% end %>
<% end %>