<h1><%= @user.username%></h1>

<h2>Your parties:</h2>
<% @user.categories.includes(parties: [:user]).each do |c| %>

    <h3><%= c.name %></h3>
    <div>
        <%= render c.parties %>
    </div>
<% end %>